html, body {
  width: 100%;
  height: 100%;

}

.container {
  position: relative;
  --radius1: 0px;
  --radius2: 0px;
  --radius3: 0px;
  --radius4: 0px;
  --x: 0px;
  --y: 0px;
}

.radius {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  border: 5px solid red;
  border-radius: 50%;
  width: calc(var(--radius) * 1);
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
}

.radius0 {
  border-color: white;
  width: var(--radius0);
  border-radius: 0;
}
.radius1 {
  border-color: red;
  width: var(--radius1);
}
.radius2 {
  border-color: orange;
  width: var(--radius2);
}
.radius3 {
  border-color: yellow;
  width: var(--radius3);
}
.radius4 {
  border-color: green;
  width: var(--radius4);
}
